.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    position: relative;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(264deg, #ba7205 -5.09%, #6d0f98 100%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-logo {
    width: 220px;
    height: auto;
}

.nav-menu li img {
    display: flex;
    margin: auto;
    width: 80px;
    height: 20px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}
@media (max-width: 768px) {
    .navbar {
        margin: 15px 30px;
    }

    .nav-connect {
        display: none; /* Hide the "Connect" button on mobile */
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px;
        top: 15px;
        width: 35px !important;
        height: 35px !important;
        cursor: pointer;
        z-index: 10;
    }

    .nav-mob-open img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 35px !important;
        height: 35px !important;
        cursor: pointer;
        z-index: 15;
    }

    .nav-mob-close img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        background-color: #1F0016;
        width: 280px;
        height: 100%;
        z-index: 14;
        transition: right 0.4s ease-in-out;
        right: -280px;
        padding-top: 70px;
        padding-left: 20px;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    }

    .nav-menu.active {
        right: 0; /* Show menu when active */
    }

    .nav-menu li {
        font-size: 22px;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .nav-menu li img {
        width: 50px;
        height: auto;
    }
}
